#login-modal-phone, #login-modal-code, #login-modal, #reg-modal {
    width: 100%;
    max-width: 480px;
}

.fancybox-inner .fancybox-slide > div {
    padding: 0;
}

#growls {
    z-index: 99999;
}

.notification {
    border: 1px solid #c6022d;
    padding: 20px;
    border-left-width: 5px;
}

.upload-doc-btn {
    justify-content: left;
}

.btn.btn-preloader {
    display: flex;
    justify-content: center;
    position: relative;
}

.btn .btn-preloader-animate {
    position: absolute;
    right: 10px;
}

.help-block {
    position: absolute;
    bottom: -20px;
    font-size: 13px;
    color: red;
}

.has-error input, .has-error textarea {
    border: 1px solid red;
}

.checkbox-row-block .catalog-filter-unit-checks-list {
    margin-top: 15px;
}

.catalog-list-category {
    justify-content: space-between;
}

.catalog-list-category .catalog-list-unit-category {
    width: 30%;
}

.catalog-sort-unit {
    margin: 0 0 30px;
}

.catalog-list-category {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
}

.catalog-list-category .catalog-list-unit-category {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.catalog-list-category .catalog-list-unit-category:nth-child(3n) {
    margin-right: 0;
}

.catalog-list-category .catalog-list-unit-category .cli-wrap {
    margin-bottom: 0;
}

ul#autoComplete_results_listundefined {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #c6022d;
    padding: 10px 10px 10px 5px;
    box-sizing: border-box;
}

.catalog-filter-unit.search-cf-unit {
    margin-bottom: 0;
}

.catalog-filter-unit.search-cf-unit input {
    width: 210px;
    max-width: 100%;
}

.catalog-item-pic-big-carousel .slick-slide {
    display:flex;
    align-items:center;
    justify-content:center;
}

.catalog-item-pic-big-carousel .slick-slide img {
    width:auto;
}

.catalog-item-pic-col-wrap {
    justify-content: space-between;
}

.catalog-item-pic-big-col {
    width: calc(100% - 98px);
}

.catalog-item-info-panel {
    grid-template-columns: 498px 1fr;

}

.catalog-item-pic-big-carousel .catalog-item-pic-big-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-item-pic-big-carousel .catalog-item-pic-big-slide img {
    width:auto;
}

.catalog-item-content-wrap{
    margin-top: 42px;
}

.catalog-item-comment{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.catalog-item-scu-inserts-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.catalog-item-scu-coating-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
}

.catalog-item-scu-inserts-wrap button {
    margin-right: 10px;
    margin-top: 10px;
}

button[data-insert].btn.active {
    -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);
}

@media screen and (max-width:1000px) {
    .catalog-filter-unit.search-cf-unit {
        display:block;
        padding-left:0;
        padding-right:0;

    }

    .catalog-filter-unit.search-cf-unit input{
        width:100%;
    }

    .for-mobile-search-row {
        display:none;
    }
}

@media screen and (max-width:768px) {
    .catalog-filter-unit.search-cf-unit {
        margin-bottom:20px;

    }
}

@media screen and (max-width: 768px) {

    .catalog-list-category .catalog-list-unit-category {
        width: calc(50% - 15px);
    }

    .catalog-list-category .catalog-list-unit-category:nth-child(3n) {
        margin-right: 30px;
    }

    .catalog-list-category .catalog-list-unit-category:nth-child(2n) {
        margin-right: 0;
    }
}