html, body {
    height: 100%;
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 16px;
    color: #2B2A31;
    line-height:1.5;
    background-color:#fff;
    font-variant-ligatures: none;
}

body.active {
    overflow:hidden;
}

* {
    margin:0;
    padding:0;
    text-shadow:1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    outline: none;
}

.site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    box-sizing: border-box;
    padding-bottom: 50px;
    box-sizing: border-box;
}

@media screen and (max-width:1080px) {
    .page-content {
        padding-top: 83px;
    }
}

@media screen and (max-width: 768px) {
    .page-content {
        padding-top: 66px;
    }
}

a {
    color:inherit;
}

a:hover {
    text-decoration: none;
    color:#c6022d;
}

.page-wrapper {
    width:100%;
    max-width: 1368px;
    margin:0 auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 24px;
    position: relative;
}

.section-title {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    line-height: 1.6;
    padding:30px 0;
    box-sizing: border-box;
}


@media screen and (max-width:1080px) {
    .section-title {
        font-size:28px;
        line-height: 1.3;
    }
}

@media screen and (max-width:768px) {
    .section-title {
        font-size:28px;
    }
}

@media screen and (max-width:480px) {
    .page-wrapper {
        padding-left:20px;
        padding-right:20px;
    }
}


header {
    background-color:#fff;

    box-sizing: border-box;
}

.mobile-header {
    display:none;
}

.header-top-row-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0 34px;
    box-sizing: border-box;
}

.header-sides-block {
    display:flex;
    align-items: center;
    width:30%;
}

.hsb-left {
    justify-content: flex-start;
}

.hsb-right {
    justify-content: flex-end;
}

.header-logo-block {
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-logo  {
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
}

.header-logo img {
    max-width:100%;
}

.auth-block {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow:row nowrap;
    position: relative;
    padding-left:42px;
    box-sizing: border-box;
}


.logged-header .auth-block a {
    font-size:14px;
    font-weight: 500;
    padding:0 4px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.auth-block a {
    font-size:14px;
    font-weight: 500;
    padding:0 4px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}


.auth-block a svg {
    max-width:80%;
}


.auth-block a:hover {
    background: #eaeaea;
}


.auth-block a img {
    margin-right: 18px;
}

.header-shop-link {
    font-size:14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
}

nav ul {
    display:flex;
    flex-flow:row nowrap;
    list-style: none;
    align-items: stretch;
    justify-content: center;
}

nav ul li {
    margin:0 18px;
    display:flex;
    justify-content: center;
    align-items:stretch;
}

nav ul li a {
    font-size:14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav ul li a::after {
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    height:2px;
    background-color:#c6022d;
    opacity: 0;
    transition: 0.2s;
}

nav ul li a:hover::after {
    opacity: 1;
}

nav ul li a.active::after {
    opacity: 1;
}

nav ul li a.active {
    color:#c6022d;
}

.header-bot-wrap {
    border-bottom: 2px solid transparent;
}

.header-bot-wrap::after {
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height:2px;
    width: calc(100% - 48px);
    margin:auto;
    background-color:#c6022d;
}

.burger-btn {
    display:none;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width:18px;
    min-width: 18px;
    position: relative;
    height:12px;
    margin-right:18px;
}

.burger-btn.active span{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom:0;
    margin:auto;
}

.burger-btn span{
    width:100%;
    height:2px;
    background-color:#000000;
}

.burger-btn span:nth-child(3) {
    width:12px;
}

.close-desktop-header {
    display:none;
}

.nav-wrapper .header-shop-link {
    display:none;
}



@media screen and (max-width:1080px) {

    .header-bot-wrap {
        border-bottom: 2px solid #c6022d;
    }

    .logged-header .desktop-header .header-logo-block {
        display:none;
    }

    header {
        position: fixed;
        top:0;
        left:0;
        right:0;
        width:100%;
        background-color:#fff;
        z-index: 10;
        border-bottom: 2px solid #c6022d;
    }

    .desktop-header {
        position: fixed;
        left:0;
        top:0;
        right:0;
        width:100%;
        background-color:#fff;
        transform: translateX(-100%);
        transition: 0.2s;
        height:100vh;
        overflow-y:auto;
        max-width: 320px;
        z-index: 11;
    }

    .nav-wrapper .header-shop-link {
        display:flex;
        margin: 14px 0;
    }

    .desktop-header .auth-block {
        display:none;
    }

    .desktop-header.active {
        transform: translateX(0);
    }

    .desktop-header .header-logo{
        display:none;
    }

    .header-top-row {
        padding: 24px 24px;
    }

    .close-desktop-header {
        display:flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:26px;
        left:26px;
        z-index: 3;
    }

    .desktop-header .nav-wrapper ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav ul li {
        margin-left:0;
    }

    nav ul li a {
        padding:14px 0;
    }

    .mobile-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top:18px;
        padding-bottom: 18px;
    }

    .mobile-header .header-logo {
        max-width: 180px;
        margin-right: auto;
    }

    .hsb-left {
        display:none;
    }

    .burger-btn {
        display:flex;
    }

    .header-sides-block {
        width:auto;
    }

    .header-bot-wrap {
        border-bottom: none;
    }

}

@media screen and (max-width:768px) {

    .mobile-header {
        padding-top:13px;
        padding-bottom: 13px;
    }

    .auth-block a, .auth-block{
        font-size:0;
    }

    .auth-block::after {
        left: 0;
        right:0;
    }

    .auth-block::after {
        position: relative;

    }

    .auth-block a img {
        margin-right: 0;
    }

    .mobile-header .header-logo {
        max-width:152px;
    }
}


.footer-row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-top:30px;
    padding-bottom: 34px;
}

.footer-row::after {
    content:'';
    position: absolute;
    top:0;
    height:2px;
    width:calc(100% - 40px);
    left:0;
    right:0;
    margin:auto;
    background-color:#000;
}


.footer-info-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    flex-flow:row wrap;
}

.footer-info-row a {
    transition: 0.2s;
}


.footer-logo-block {
    margin-bottom: 38px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-block img {
    width: 300px;
    height: 100px;
}

.footer-info-row > * {
    margin: 15px 40px 15px 0;
    white-space: nowrap;
    font-size:12px;
}

@media screen and (max-width:768px) {
    .footer-info-row {
        flex-direction: column;
    }

    .footer-info-row > * {
        white-space: normal;
        text-align: center;
        margin: 0 0 10px 0;
    }

}

@media screen and (max-width:480px) {
    .footer-info-row {
        align-items: flex-start;
    }
    .footer-info-row > * {
        text-align: left;
    }
}










.slick-arrow {
    width:40px;
    height:40px;
    border-radius:40px;
    background-color:#eaeaea;
    background-image: url(../img/car-arrow-icon.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 14px center;
    border:none;
    font-size:0;
    position: absolute;
    z-index: 2;
    top:0;
    bottom:0;
    margin:auto;
    cursor:pointer;
    transition: 0.2s;
}

.slick-arrow:hover {
    background-color:#c6022d;
}

.slick-arrow.slick-prev{
    left:10px;
}

.slick-arrow.slick-next{
    right:10px;
    transform:rotate(180deg);
}

.main-page-slider .main-page-slider-unit  {
    position: relative;
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

.main-page-slider-unit img {
    width:100%;
}

.slick-dots {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    right:0;
    bottom:20px;
}

.slick-dots li {
    margin:0 5px;

}

.slick-dots button {
    border:none;
    font-size:0;
    width:10px;
    height:10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.2s;
    cursor:pointer;
}

.slick-dots .slick-active button {
    background-color:#c6022d;
}







/*.brand*/

.brands-panel-list {
    margin-bottom: 60px;
}

.brand-text-pic img {
    width:100%;
}

.brand-text-unit {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.brand-text-unit:last-child {
    margin-bottom: 0;
}

.brand-text-unit:nth-child(2n) .brand-text-pic {
    order:2;
}

.brand-text-unit:nth-child(2n) .brand-text-block {
    order:1;
}

.brand-text-pic {
    width:calc(50% - 15px);
}

.brand-text-block {
    width:calc(50% - 15px);
}

.brand-video-panel{
    position: relative;
    cursor:pointer;
    height: 540px;
    border:10px solid #eaeaea;
    box-sizing: border-box;
}

.video-poster {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    overflow: hidden;
    z-index: 1;
    background: url(../img/video-poster.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.video-poster img {
    min-width: 100%;
    min-height:100%;
    margin:auto;
}

.video-poster::after {
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:url(../img/video-play-pic.svg)no-repeat;
    background-size:cover;
    background-position: center;
    width:50px;
    height:50px;
}

.brand-video-panel iframe {
    width: 100%;
    height: 540px;
    position: relative;
}


@media screen and (max-width:1080px) {

    .main-page-slider-panel {
        padding-left: 0;
        padding-right: 0;
    }

    .brand-text-unit {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .brand-text-pic{
        width:100%;
        margin-bottom: 20px;
    }

    .brand-text-block  {
        width:100%;
    }

    .brand-text-unit:nth-child(2n) .brand-text-pic {
        order:unset;
    }

    .brand-text-unit:nth-child(2n) .brand-text-block {
        order:unset;
    }
}

@media screen and (max-width:768px) {
    .brand-video-panel {
        height: 290px;
    }
}

@media screen and (max-width:480px) {
    .brand-text-block {
        font-size:14px;
    }

    .brand-video-panel {
        height: 160px;
    }
}






.contacts-block {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    width:100%;
}

.contacts-text-col {
    width:calc(40% - 15px);
}

.contacts-map-col {
    width:calc(60% - 15px);
}

.contact-map-block {
    width:100%;
}


.contacts-text-col {
    background: #eaeaea;
    padding:20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contacts-text-panel {
    padding-bottom: 20px;
    box-sizing: border-box;
    width:100%;
}

.contact-text-soc-row {
    padding-top:20px;
    box-sizing: border-box;
    border-top: 1px solid #c6022d;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    margin-top:auto;
    width:100%;
}

.contact-soc-row {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-text-soc-row a {
    width:40px;
    height:40px;
    /* background-color:#fff; */
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.2s;
}

.contact-soc-row a:hover {
    background-color:#c6022d;
}

.contact-soc-row a:hover img {
    filter: brightness(250%);
}

.contact-soc-row img {
    width: 30px;
    height: 30px;
}

.btn-row {
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color:#c6022d;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size:14px;
    padding:10px 20px;
    cursor:pointer;
    outline:none;
    transition:0.2s;
    box-sizing: border-box;
    border:none;
}

.btn:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.btn:hover {
    background-color: #653C3F;
    color:#fff;
}

.btn.btn-ly {
    color:#fff;
    background-color: #c6022d;
}


.btn-ly:hover {
    background-color:#c5012d;
    color:#fff;
}

.btn-ly-border {
    border: 2px solid #c6022d;
    background-color:#eaeaea;
    color: #c6022d;
}

.btn-ly-border:hover {
    background-color:#c6022d;
    color:#fff;
}

.btn.btn-brown {
    background-color:#7E5455;
    color:#fff;
}

.btn.btn-brown:hover {
    background-color: #4A3336;
}

.btn.btn-white {
    background-color:#fff;
    color:#c6022d;
}

.btn.btn-white:hover {
    background-color:#c6022d;
    color:#fff;
}






@media screen and (max-width:1080px) {
    .contacts-block{
        flex-direction: column;
        align-items: center;
    }

    .contacts-text-col {
        width:100%;
        margin-bottom: 20px;
    }

    .contacts-map-col {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .contact-text-soc-row {
        flex-direction: column;
        align-items: center;
    }

    .contact-text-soc-row .btn-row {
        margin-bottom: 20px;
    }

    .contact-text-soc-row a {
        margin:0 5px;
    }

    .contact-map-block {
        width: 100%;
        height: 228px;
        overflow: hidden;
    }

    .contact-map-block > ymaps {
        max-height: 100%;
    }

    .contacts-panel {
        padding-left:0;
        padding-right: 0;
    }
}







/*collections*/

.collection-list {
    display:flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow:row wrap;
}

.collection-unit {
    width:calc(33.33% - 20px);
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

.collection-unit:nth-child(3n) {
    margin-right: 0;
}

.collection-unit-title {
    position: absolute;
    bottom:20px;
    left:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color:#000;
}

.prem-tag {
    font-weight: 500;
    font-size: 12px;
    padding:3px 12px;
    border-radius: 30px;
    background-color:#c6022d;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    color:#fff;;
}

.collection-unit-pic-holder {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.collection-unit-pic-holder img {
    width:100%;
}

.collection-unit-pic-holder::after {
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
    background: linear-gradient(0.4deg, rgba(211, 176, 105, 0.2) 0.44%, rgba(211, 176, 105, 0));
}

.collection-unit:hover .collection-unit-pic-holder::after {
    opacity: 1;
}

.new-collection-panel .btn-row .btn {
    padding:10px 40px;
    width:auto;
}

@media screen and (max-width:1080px) {
    .collection-unit {
        width:calc(50% - 15px);
        margin-right: 30px;
    }

    .collection-unit:nth-child(3n) {
        margin-right: 30px;
    }

    .collection-unit:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width:600px) {
    .collection-unit {
        width:100% !important;
        margin-right: 0;
    }

    .collection-unit:nth-child(3n) {
        margin-right: 0;
    }
}



/*main-logged*/
.logged-main-section {
    padding-top:40px;
}

.collection-unit.w50 {
    width:calc(50% - 15px);
    margin-right: 30px;
}

.collection-list .collection-unit:last-child {
    margin-right: 0;
}




@media screen and (max-width:1080px) {
    .collection-list-w50{
        flex-direction: column;
        align-items: center;
    }



    .collection-list .collection-unit.w50 {
        width:100%;
        margin-right: 0;
    }

    .collection-list .collection-unit:nth-child(4n){
        width:calc(50% - 15px);
    }


    .collection-list .collection-unit:nth-child(4n){
        width:calc(50% - 15px);
    }
}






/*logged-header*/

.header-manager-block-wrap {
    width:100%;
}

.logged-header .desktop-header .header-logo-block {
    min-width: 217px;
    margin-right: 60px;
}

.header-manager-block-wrap {
    max-width: 310px;
    width:100%;
}

.header-manager-block {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    padding:10px 15px;
    box-sizing: border-box;
    z-index: 3;
    border: 1px solid #eaeaea;
}

.header-manager-block-wrap:first-child {
    z-index: 4;
}

.header-manager-block::after {
    content:'';
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #eaeaea;
    background-image: url(../img/car-arrow-icon.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 14px center;
    border: none;
    font-size: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right:10px;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
    transform: rotate(-90deg);
}

.header-manager-block:hover::after{
    background-image: url(../img/car-arrow-icon-white.svg);
    background-color:#c6022d;
}

.header-manager-block-wrap:hover{
    box-shadow: 0px 2px 12px rgba(211, 176, 105, 0.2);
}

.header-manager-block.active::after {
    transform: rotate(90deg);
}

.header-manager-block.active {
    border-color:transparent;
}

.h-manager-info {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header-manager-block-wrap {
    position: relative;
    margin-right:30px;
}


.header-managers-row {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}

.h-manager-info-wrap {
    position: absolute;
    border: 1px solid #c6022d;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 68px 15px 15px;
    margin: auto;
    z-index: 2;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
    opacity: 0;
    transition:0.2s;

}

.h-manager-info-wrap.active {
    opacity: 1;
    pointer-events: all;
}

.manager-info-list-unit {
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.manager-info-list-unit a {
    font-size: 12px;
    text-decoration: none;
    line-height: 1;
    margin-bottom: 6px;
}

.manager-info-list-unit a:last-child {
    margin-bottom: 0;
}

.h-manager-title {
    font-size:12px;
    margin-bottom: 8px;
}

.h-manager-shop{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.h-manager-shop .prem-tag {
    font-size:10px;
    background-color:#c6022d;
    padding:2px 10px;
    line-height: 1.3;
    box-sizing: border-box;
    border-radius: 20px;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.manager-info-name {
    color: #7E5455;
    font-size:12px;
    font-weight: 500;
    margin-bottom: 10px;
}


.header-link-counter {
    position: absolute;
    width:24px;
    height:24px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #c6022d;
    border-radius: 24px;
    color:#fff;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    top:0;
    bottom:0;
    margin: auto;
    right: -6px;
}

.logged-header .auth-block a {
    margin-left: 35px;
    padding:0;
}


.logged-header .auth-block a img {
    margin-right: 0;
}

.auth-inside-for-mobile {
    display:none;
}



@media screen and (max-width:1080px) {

    .logged-header + .page-content {
        padding-top:99px;
    }

    .logged-header .header-shop-link {
        display:none;
    }

    .logged-header .desktop-header .auth-block {
        display:flex;

    }

    .header-managers-row {
        order:2;
    }

    .logged-header .header-top-row-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .logged-header .header-sides-block {
        order:1;
        margin-bottom:30px;
        width:100%;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .logged-header .header-managers-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .logged-header .desktop-header .auth-block a {
        display:flex;
    }

    .logged-header .desktop-header .auth-block a {
        display:flex;
        margin-left: 35px;
    }

    .header-top-row-wrap {
        padding-left:0;
        padding-right: 0;
    }

    .header-manager-block-wrap {
        position: relative;
        margin-right: 0;
        border: 1px solid #eaeaea;
        margin-bottom: 10px;
        z-index: 1;
    }

    .header-manager-block-wrap.active {
        z-index: 2;
    }

    .logged-header .desktop-header nav a:hover::after {
        opacity: 0;
    }
}

@media screen and (max-width:768px) {

    .logged-header .auth-block a {
        display:none;
    }


    .logged-header .auth-block a.header-cart-link {
        display:flex;
        margin-left: 0;
    }

    .logged-header .desktop-header .auth-block a.header-cart-link {
        margin-left: 35px;
    }


    .auth-block {
        padding-left: 0;
    }

    .mobile-header {
        justify-content: center;
    }

    .mobile-header .header-logo {
        margin-left: auto;
    }

}




.catalog-section {
    padding-top:20px;
    box-sizing: border-box;
}


.catalog-sort-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#c6022d;
    padding:16px 20px;
    margin-bottom: 20px;
}

.sr-basket-list {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.sr-basket-info-unit {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 68px;
}

.sr-basket-info-unit span {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

.sr-basket-info-unit .sr-info-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color:#000;
    display:flex;
    align-items: center;
    margin-right: 10px;
}

.catalog-sort-unit {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color:#fff;
    padding:8px 12px;
    box-sizing: border-box;
    font-weight: 500;
    font-size:14px;
}

.catalog-sort-unit select {
    border:none;
    background-color:#fff;
    height:100%;
    display:flex;
}

.catalog-list-filter-panel{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.catalog-filter-col {
    width:100%;
    max-width:280px;
    margin-right: 30px;
}

.catalog-list-col {
    width:100%;
}

.catalog-list {
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.catalog-filter {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color:#eaeaea;
    padding:20px;
    box-sizing: border-box;
}

.catalog-filter-unit {
    margin-bottom: 30px;
    width:100%;
}

.catalog-filter-unit-title {
    font-weight: 500;
    font-size: 18px;
    line-height:1.3;
    margin-bottom: 15px;
}

.filter-search-block {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.input-row {
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


.input-row input {
    width:100%;
    height:48px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding-left:15px;
}

.input-row input:disabled {
    background-color:#eaeaea;
    border-color:#eaeaea;
    color: #C4C4C4;
}

.filter-search-block .input-row img {
    position: absolute;
    top:0;
    bottom:0;
    right:15px;
    margin:auto;
}

.checkbox-row {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.checkbox-row-block{
    margin-bottom: 15px;
}

.checkbox-row-block:last-child{
    margin-bottom: 0;
}


.checkbox-row input {
    position: absolute;
    left:0;
    top:0;
    width:0;
    height:0;
    visibility: hidden;
}

.checkbox-row input + label {
    font-size: 14px;
    line-height: 1.3;
    padding-left:30px;
    cursor:pointer;
    user-select: none;
}

.checkbox-row input + label::before {
    content:'';
    position: absolute;
    left:0;
    top:-2px;
    bottom:0;
    width:20px;
    height:20px;
    border: 1px solid #7E5455;
    background-color: #fff;
    transition: 0.2s;
}

.checkbox-row input + label::after {
    content:'';
    position: absolute;
    left: 6px;
    top: 4px;
    bottom:0;
    width:10px;
    height:10px;
    border: 1px solid #c6022d;
    box-sizing: border-box;
    background-color: #c6022d;
    opacity: 0;
    transition: 0.2s;
}

.checkbox-row input:checked + label::before {
    box-shadow: inset 0px 0px 0px 1px #c6022d;
    border-color:#c6022d;
}

.checkbox-row input:checked + label::after {
    opacity: 1;
}

.catalog-filter .btn-row {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}

.catalog-filter .btn-row .btn {
    font-size:14px;
    text-transform: uppercase;
    width:100%;
    margin-bottom:15px;
    height:50px;
}

.catalog-filter .btn-row .btn:last-child {
    margin-bottom: 0;
}

.catalog-list {
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.catalog-list-unit {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
    transition: 0.2s;
    padding:20px;
    box-sizing: border-box;
}

.catalog-list-unit:hover {
    box-shadow: 0px 2px 12px #eaeaea;
    border: 1px solid #c6022d;
}

.clu-fav {
    position: absolute;
    top:10px;
    right:10px;
    width:40px;
    height:40px;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.2s;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    user-select: none;
    z-index: 1;
}

.clu-fav svg {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:2px;
    margin:auto;
    width:26px;
    transition: 0.2s;
}


.clu-fav.active svg path {
    stroke:#c6022d;
}

.clu-fav:hover {
    background-color: #eaeaea;
}

.cli-wrap{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.clu-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color:#000;
    margin-bottom: 2px;
}


.clu-weight {
    color: #878787;
    font-size:16px;
    text-align: center;
}

.clu-label-row {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left:10px;
    top:10px;
    z-index: 1;
}

.clu-label-unit {
    width:40px;
    height:40px;
    border-radius:40px;
    color:#fff;
    background-color:#7E5455;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.clu-label-unit:last-child {
    margin-bottom: 0;
}

.catalog-list-unit .btn{
    padding:10px 30px;
}


.catalog-list .catalog-list-unit {
    width:20%;
}

.show-more-btn {
    padding:10px 40px;
}



/*noui styles*/

.noUi-handle {
    width:20px;
    height:20px;
    max-width:20px;
    max-height:20px;
    border-radius: 20px;
    background-color:#fff;
    border:5px solid #c6022d;
}

.noUi-handle::after, .noUi-handle::before {
    display:none;
}

.noUi-horizontal .noUi-handle {
    right:-10px;
    top:-9px;
    cursor:pointer;
}

.noUi-horizontal {
    height: 2px;
    background:#fff;
    border:none;
    margin: 32px 0 2px;
}

.noUi-connect {
    background:#c6022d;
}

.price-slider-input-row {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}

.psi-input-row {
    max-width:calc(50% - 10px);
    border: 1px solid #c6022d;
    box-sizing: border-box;
    background-color:#fff;
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}

.psi-text-for-input {
    width:35px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#000;
    text-align: center;
    background-color: #eaeaea;
    font-weight: 500;
    font-size: 12px;
}

.psi-input-row input {
    width:calc(100% - 35px);
    text-align: right;
    padding:10px;
    border:none;
    box-sizing: border-box;
    font-size:14px;
}

.clu-pic-holder {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.clu-pic-holder img {
    max-width:100%;
}

.mobile-filter-btn {
    display:none;
}

.for-mobile-search-row {
    display:none;
}

.btn.btn-white.reset-filter {
    color:#7E5455;
}

.btn.btn-white.reset-filter:hover {
    color:#fff;
}

.mobile-filter-head-row {
    display:none;
}

.fade-wrapper {
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background-color:rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    display:none;
    z-index: 5;
}

@media screen and (max-width:1080px) {

    .catalog-section {
        padding-top:10px;
    }

    .search-cf-unit {
        display:none;
    }

    .catalog-filter-units-wrap {
        max-height: 100%;
        overflow-y: auto;
        padding-bottom: 125px;
        padding-top: 20px;
        box-sizing: border-box;
    }

    .mobile-filter-head-row {
        width: 100%;
        background: #fff;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
    }

    .close-mobile-filter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-result-filter-btn{
        font-weight: 500;
        font-size: 14px;
        color: #c6022d;
        text-decoration: none;
        position: relative;
        padding-right: 20px;
    }

    .search-result-filter-btn::after {
        content:'';
        position: absolute;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        width:7px;
        height:7px;
        border-right:2px solid #c6022d;
        border-bottom:2px solid #c6022d;
        transform: rotate(-45deg);
    }

    .catalog-filter .btn-row {
        padding-left:20px;
        padding-right: 20px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right:0;
        bottom:16px;
        margin:auto;
        background-color:#eaeaea;
        z-index: 2;
        padding-top: 10px;

    }

    .catalog-filter-unit {
        padding-left:20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .catalog-filter {
        padding-top:0;
        padding-bottom: 20px;
        padding-left:0;
        padding-right: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height:100%;
    }

    .for-mobile-search-row {
        display:flex;
        align-items: center;
        justify-content: center;
        width:250px;
    }

    .catalog-section-wrap {
        padding-left:0;
        padding-right: 0;
    }

    .catalog-list-col {
        padding-left:24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    .catalog-sort-unit-wrap {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        width:100%;
        background-color:#eaeaea;
        box-sizing: border-box;
        padding:10px 24px;
    }

    .catalog-sort-row {
        background-color:transparent;
        padding-left:0;
        padding-right: 0;
        padding-top:0;
    }

    .catalog-sort-unit {
        margin-left: auto;
    }

    .mobile-filter-counter {
        margin-left:5px;
        background: #d2d2d2;
        border-radius: 20px;
        width:20px;
        height:20px;
        display:flex;
        align-items: center;
        justify-content: center;
        color:#000;
        font-weight:500;
        font-size:12px;
    }

    .mobile-filter-btn span {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 12px;
    }

    .mobile-filter-counter.active {
        color:#fff;
        background: #c6022d;
    }

    .mobile-filter-btn {
        padding:10px;
        box-sizing: border-box;
        background-color:#fff;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size:14px;
        margin-right: 64px;
    }

    .sr-basket-list {
        background-color:#eaeaea;
        width:100%;
        padding:16px 24px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .catalog-filter-col {
        position: fixed;
        left:0;
        top:0;
        height:100vh;
        z-index: 20;
        overflow:hidden;
        transition: 0.2s;
        transform:translateX(-100%);
        max-width: 480px;
        width: 100%;
    }

    .catalog-filter-col.active {
        transform:translateX(0);
    }

    .catalog-sort-row {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sr-basket-info-unit .sr-info-title {
        font-size:14px;
    }

    .sr-basket-info-unit span {
        font-size:16px;
    }

    .sr-basket-info-unit {
        margin-right: 66px;
    }

    .catalog-list .catalog-list-unit {
        width:25%;
    }

    .clu-label-unit {
        font-size: 9px;
        width:30px;
        height:30px;
    }
}

@media screen and (max-width:768px) {

    .catalog-list-col {
        padding-left:20px;
        padding-right: 20px;
    }

    .logged-header + .page-content {
        padding-top: 81px;
    }

    .for-mobile-search-row {
        display:flex;
    }

    .sr-basket-list {
        display:none;
    }

    .catalog-section {
        padding-top:0;
    }

    .catalog-sort-row {
        padding-top:10px;
    }

    .catalog-sort-unit-wrap {
        display:flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow:row wrap;
    }

    .for-mobile-search-row {
        order:1;
        width:100%;
        margin-bottom: 20px;
    }

    .for-mobile-search-row .filter-search-block .input-row input {
        height:40px;
        font-size:14px;
    }

    .mobile-filter-btn {
        order:2;
    }

    .catalog-sort-unit {
        order:3;
    }

    .mobile-filter-btn {
        margin-right: 0;
        font-size:12px;
    }

    .catalog-sort-unit-wrap {
        padding-left:20px;
        padding-right:20px;
    }

    .catalog-sort-unit {
        font-size:0;
    }

    .catalog-sort-unit select {
        font-size:12px;
    }

    .catalog-list .catalog-list-unit {
        width:33.33%;
    }
}

@media screen and (max-width:480px) {
    .catalog-list .catalog-list-unit {
        width:50%;
    }
}













/*catalog-item*/

.catalog-item-info-panel {
    display:grid;
    grid-template-areas:
    "pic-block scu-block"
    "variant-block scu-block";
    grid-template-columns: 40% 60%;
    margin-bottom: 60px;
}


.catalog-item-pic-col {
    display:flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    grid-area: pic-block;
}

.catalog-item-scu-col {
    grid-area: scu-block;
    padding-left: 30px;
    box-sizing: border-box;
}

.catalog-item-variation-col {
    grid-area: variant-block;
    padding-top:40px;
    box-sizing: border-box;
}

.catalog-item-pic-small-col {
    width:84px;
}

.catalog-item-pic-big-col {
    width:calc(100% - 84px);
    position: relative;
}

.catalog-item-pic-big-slide img {
    width:100%;
}

.catalog-item-pic-small-carousel {
    width:100%;
}

.catalog-item-pic-small-slide img {
    width:100%;
}

.catalog-item-pic-small-carousel .catalog-item-pic-small-slide {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin: 10px 0;
}

.slick-vertical .slick-arrow.slick-next {
    left:0;
    right:0;
    bottom:-20px;
    top:auto;
    transform:rotate(-90deg);
}

.slick-vertical .slick-arrow.slick-prev {
    left:0;
    right:0;
    bottom:auto;
    top:-20px;
    transform:rotate(90deg);
}

.catalog-item-pic-small-slide {
    border:1px solid transparent;
}

.catalog-item-pic-small-slide.slick-current {
    border:1px solid #c6022d;
}

.slick-arrow.slick-disabled {
    opacity: 0;
    pointer-events: none;
}


.catalog-item-pic-col-wrap {
    display:flex;
    width:100%;
    flex-flow:row nowrap;
}


.catalog-item-pic-big-carousel {
    width:100%;
}

.inner-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
}

.catalog-item-var-row-title {
    font-weight: 500;
    font-size: 18px;
    line-height:1.5;
    margin-bottom: 10px;
}

.catalog-item-variation-carousel .catalog-item-variation-car-unit {
    display:flex;
    align-items: center;
    justify-content: center;
}

.catalog-item-variation-car-unit img {
    width:100%;
}

.catalog-item-variation-row {
    margin-bottom:20px;
}

.catalog-item-scu-col-wrap {
    border:1px solid #eaeaea;
}

.catalog-item-title-row {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title-row-getback-link {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    height:20px;
    font-weight: 500;
    font-size: 14px;
    color: #c6022d;
    padding-left:20px;
    box-sizing: border-box;
    text-decoration: none;
    margin: auto;
    transition: 0.2s;
}

.title-row-getback-link:hover {
    color:#653C3F;
}

.title-row-getback-link::after {
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    width:7px;
    height:7px;
    border-left:1px solid #c6022d;
    border-bottom:1px solid #c6022d;
    transform: rotate(45deg);
    transition: 0.2s;
}

.title-row-getback-link:hover::after {
    border-color:#653C3F;
}






.catalog-item-scu-title {
    font-weight: 500;
    font-size: 18px;
    line-height:1.5;
    margin-bottom: 10px;
}

.catalog-item-scu-cont {
    width:100%;
}

.catalog-item-scu-table {
    border-bottom:1px solid #eaeaea;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.catalog-item-scu-row {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    width:100%;
    position: relative;
}

.catalog-item-scu-row::before {
    content:'';
    position: absolute;
    left:0;
    top:13px;
    width:100%;
    right:0;
    margin:auto;
    height:1px;
    background-color:#C4C4C4;
}

.catalog-item-scu-name {
    position: relative;
    font-size: 16px;
    color: #878787;
    line-height:1;
    width:auto;
    background-color:#fff;
    padding-right: 4px;
}

.catalog-item-scu-val {
    position: relative;
    font-size: 16px;
    color: #000000;
    line-height:1;
    background-color:#fff;
    width:50%;
    padding-left: 4px;
    box-sizing: border-box;
}

.catalog-item-scu-block {
    padding:0 20px;
    box-sizing: border-box;
}

.catalog-item-scu-panel {
    padding:20px 0 0;
}

.catalog-item-scu-price-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.catalog-item-scu-price-block {
    font-weight: 500;
    font-size: 18px;
}

.catalog-item-scu-price-block span {
    color: #c6022d;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    margin-left: 10px;
}

.ciu-price-announce {
    width:50%;
    font-size: 12px;
    color: #878787;
}

.catalog-item-probe-select-row {
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.catalog-item-probe-select-row select {
    border: 1px solid #c6022d;
    padding:10px 15px;
    box-sizing: border-box;
    font-size: 14px;
    width:288px;
    height:45px;
    margin-right: 30px;
}





.ciu-size-announce {
    font-size: 12px;
    color: #878787;
    width:100%;
    margin-bottom: 10px;
    line-height: 1;
}

.quant-block input {
    width:30px;
    border:none;
    text-align: center;
}

.catalog-item-scu-size-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: calc(20% - 18px); */
    border: 1px solid #c6022d;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* .catalog-item-scu-size-unit:nth-child(5n) {
    margin-right: 0;
} */

.catalog-item-scu-size-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.catalog-unit-scu-size-title {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    font-size: 12px;
}

.quant-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:5px;
    box-sizing: border-box;
}

.quant-minus, .quant-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: #c6022d;
    border-radius: 2px;
    user-select: none;
    cursor:pointer;
}

.catalog-item-total-price-block {
    background-color:#eaeaea;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    box-sizing: border-box;
}

.catalog-item-total-price {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.catalog-item-total-price span {
    color: #c6022d;
}

.catalog-item-total-price-block .btn {
    padding:15px 40px;
    text-transform: uppercase;
}



.same-products-panel .inner-section-title {
    text-align: center;
}

.same-products-panel {
    margin-bottom: 60px;
}

.same-products-list .slick-list {
    padding:10px 0;
    box-sizing: border-box;
}

.catalog-item-probe-select-row .catalog-item-scu-size-unit{
    width:125px;
    margin-bottom: 0;
}

@media screen and (max-width:1080px) {
    .catalog-item-info-panel {
        display:grid;
        grid-template-areas:
        "pic-block"
        "scu-block"
        "variant-block";
        grid-template-columns: 100%;
        margin-bottom: 60px;
    }

    .catalog-item-pic-big-slide img {
        width: auto;
        max-height: 430px;
        margin: auto;
        max-width: 100%;
    }

    .catalog-item-scu-col {
        padding-left:0;
    }

    .catalog-item-pic-col-wrap {
        margin-bottom: 30px;
    }

    .catalog-item-variation-col-wrap .inner-section-title {
        text-align: center;
    }

    .catalog-item-var-row-title {
        text-align: center;
    }

    .catalog-item-variation-col-wrap .slick-arrow.slick-next {
        right: -10px;
    }

    .catalog-item-variation-col-wrap .slick-arrow.slick-prev {
        left: -10px;
    }

    .catalog-item-total-price-block {
        padding:10px;
    }

}

@media screen and (max-width:768px) {
    .catalog-item-scu-size-unit {
        width: calc(33.33% - 16px);
    }

    .catalog-item-scu-size-unit:nth-child(5n) {
        margin-right: 20px;
    }

    .catalog-item-scu-size-unit:nth-child(3n) {
        margin-right: 0;
    }

    .catalog-item-scu-price-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .ciu-price-announce {
        width:100%;
    }

    .catalog-item-scu-price-block {
        margin-bottom: 5px;
    }

    .title-row-getback-link {
        display:none;
    }
}

@media screen and (max-width:550px) {
    .catalog-item-pic-col-wrap {
        flex-direction: column;
        align-items: center;
    }

    .catalog-item-pic-small-col {
        width:100%;
        order:2;
    }

    .catalog-item-pic-big-col {
        order:1;
        width:100%;
    }

    .catalog-item-pic-small-carousel .slick-arrow.slick-next {
        right: -10px;
    }

    .catalog-item-pic-small-carousel .slick-arrow.slick-prev {
        left: -10px;
    }

    .catalog-item-variation-col {
        padding-left:20px;
        padding-right:20px;
    }


}

@media screen and (max-width:480px) {
    .catalog-item-total-price-block {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .catalog-item-total-price {
        margin-bottom: 20px;
    }

    .catalog-item-scu-size-unit {
        width: calc(50% - 12px);
    }

    .catalog-item-scu-size-unit:nth-child(5n) {
        margin-right: 20px;
    }

    .catalog-item-scu-size-unit:nth-child(3n) {
        margin-right: 20px;
    }

    .catalog-item-scu-size-unit:nth-child(2n) {
        margin-right: 0;
    }

    .catalog-item-probe-select-row select {
        width:100%;
        margin-right: 0;
    }

    .catalog-item-scu-name, .catalog-item-scu-val {
        font-size: 12px;
    }

    .catalog-item-scu-row::before {
        top:9px;
    }

    .catalog-item-scu-col-wrap {
        border:none;
    }

    .catalog-item-section-wrap {
        padding-left:0;
        padding-right: 0;
    }

    .catalog-item-pic-col {
        padding-left:20px;
        padding-right: 20px;
    }

    .slick-arrow.slick-next {
        right: -10px;
    }

    .slick-arrow.slick-prev {
        left: -10px;
    }

    .same-products-panel {
        margin-bottom: 0;
    }

    .catalog-item-pic-col-wrap .clu-label-row {
        left:0;
    }

    .catalog-item-pic-col-wrap .clu-fav {
        right:0;
    }

    .catalog-item-probe-select-row {
        flex-direction: column;
        align-items: center;
    }

    .catalog-item-probe-select-row .catalog-item-scu-size-unit {
        margin-top:10px;
    }

}





.account-panel {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow:row nowrap;
}

.account-links-list-col {
    width:100%;
    max-width:280px;
}

.account-links-list {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:20px;
    box-sizing: border-box;
    background-color:#eaeaea;
    flex-direction: column;
}

.account-links-list a {
    margin-bottom: 10px;
    background-color:#fff;
    padding:12px 15px;
    box-sizing: border-box;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    width:100%;
    transition:0.2s;
}

.account-links-list a::after {
    content:'';
    position: absolute;
    width:100%;
    height:4px;
    left:0;
    right:0;
    bottom:0;
    background-color:#c6022d;
    opacity: 0;
    transition:0.2s;
}

.account-links-list a.active::after {
    opacity: 1;
}

.account-links-list a:last-child {
    margin-bottom: 0;
}

.account-content-panel form{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow:row wrap;
}

.account-form-col {
    width:calc(50% - 15px);
}

.input-row input {
    width:100%;
    position: relative;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    height:48px;
    padding-left:15px;
}

.account-form-col .input-row {
    margin-bottom: 20px;
}

.input-row input + label {
    font-size: 14px;
    color: #878787;
    font-weight: 500;
    position: absolute;
    top:14px;
    left:15px;
    transition: 0.2s;
    pointer-events: none;
    line-height: 1;
}

.input-row input + label.active {
    font-size: 10px;
    left:4px;
    top:2px;
}

.account-inner-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.3;
}


.account-content-col {
    padding-left:58px;
    box-sizing: border-box;
    width:100%;
}

.account-form-files-row {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
}

.upload-doc-list {
    margin-bottom:6px;
}

.upload-doc-list-unit {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.upload-doc-link-label {
    width:auto;
    padding:4px 10px;
    box-sizing: border-box;
    background-color:#DBDBDB;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.upload-doc-link-label span {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:4px;
    cursor:pointer;
}

.upload-doc-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #c6022d;
    font-weight: 500;
    font-size: 14px;
}

.upload-doc-btn img {
    margin-right: 13px;
}

.account-content-panel .btn-row {
    margin-top:30px;
}

.account-content-panel .btn-row .btn {
    text-transform: uppercase;
    padding:14px 40px;
}


@media screen and (max-width:1080px) {
    .account-panel {
        flex-direction: column;
        align-items: center;
    }

    .account-links-list-col {
        max-width:unset;
        margin-bottom: 20px;
    }

    .account-content-col {
        padding-left:0;
    }

    .account-form-col {
        width:100%;
    }

    .account-links-list a {
        display:none;
        order:2;
    }

    .account-links-list a.active {

    }

    .account-links-list a.active {
        display:flex;
    }


    .account-links-list.rolled-list a.active {
        order:1;
        display:flex;
    }

    .account-links-list.rolled-list a {
        display:flex;
    }

    .account-section-wrap {
        padding-right: 0;
        padding-left: 0;
    }

    .account-content-col{
        padding-left:20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .account-links-list a.active::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 14px;
        margin: auto;
        width: 6px;
        height: 6px;
        border-right: 1px solid #c6022d;
        border-bottom: 1px solid #c6022d;
        transform: rotate(45deg);
        z-index: 1;
        transition:0.2s;
    }

    .account-links-list.rolled-list a.active::before {
        transform: rotate(-135deg);
    }
}

@media screen and (max-width:768px) {
    .upload-doc-list-unit {
        flex-direction: column;
        align-items: flex-start;
    }

    .upload-doc-link-label {
        margin-left:0;
        margin-top: 8px;
    }

    .upload-doc-btn {
        margin-top:10px;
    }
}

@media screen and (max-width:480px) {
    .input-row input + label {
        font-size:13px;
    }

    .account-content-panel .btn-row .btn {
        width:100%;
    }
}





.account-order-list {
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.account-order-unit {
    width:calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.account-order-unit:nth-child(3n) {
    margin-right: 0;
}

.order-number-row {
    padding:10px 20px;
    background-color:#eaeaea;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-status {
    background-color:#ffffff;
    padding:1px 10px;
    color: #c6022d;
    font-weight: 500;
    font-size: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    width:auto;
}

.order-number {
    font-weight: 500;
    font-size: 16px;
    color:#000;
    line-height:1.5;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.account-order-unit-inner-wrap{
    padding:20px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    height:100%;
}

.account-order-unit-inner-list {
    margin-bottom: 30px;
}

.account-order-unit-inner-list-unit {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    flex-flow:row nowrap;
    margin-bottom: 10px;
}

.account-order-unit-inner-list-unit:last-child{
    margin-bottom: 0;
}

.aou-inlist-title {
    font-size: 14px;
    line-height: 1.3;
    margin-right: 10px;
}

.aou-inlist-val {
    color:#c6022d;
    font-weight: 500;
    font-size:14px;
}

.account-order-unit-inner-wrap .btn-row {
    flex-direction: column;
    align-items: stretch;
    margin-top:auto;
}

.account-order-unit-inner-wrap .btn-row .btn {
    margin-bottom: 10px;
}

.account-order-unit-inner-wrap .btn-row .btn:last-child {
    margin-bottom: 0;
}

.aou-alvada-label {
    display:flex;
    align-items: center;
    justify-content: center;
    width:auto;
    color:#fff;
    text-transform: uppercase;
    padding:4px 10px;
    box-sizing: border-box;
    background-color:#F5AA94;
    border-radius: 12px;
    font-size:10px;
    font-weight: 500;
    margin-left:20px;
}

.aou-alvada .aou-inlist-val {
    color:#ECAA90;
}

.aou-alvada .btn {
    background-color:#ECAA90;
}

.aou-alvada .btn:hover {
    background-color: #e68c69;
}

.aou-alvada .btn.btn-ly {
    color:#ECAA90;
    background-color: #eaeaea;
}

.aou-alvada .btn.btn-ly:hover {
    background-color:#ECAA90;
    color:#fff;
}

@media screen and (max-width:1200px) {
    .account-order-unit {
        width:calc(50% - 15px);
    }

    .account-order-unit:nth-child(3n) {
        margin-right: 30px;
    }

    .account-order-unit:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width:600px) {
    .account-order-unit {
        margin-right: 0;
        width:100%;
    }

    .account-order-unit:nth-child(3n) {
        margin-right: 0;
    }
}



/*baket*/

.basket-brand-selector {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.basket-brand-selector a {
    padding:15px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    background-color:#fff;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 500;
    font-size:14px;
    position: relative;
    margin:0 10px;
}

.basket-brand-selector a:hover {
    border:1px solid #eaeaea;
}

.basket-brand-selector a.active {
    border: 1px solid #eaeaea;
    border-bottom: none;
}

.basket-brand-selector a.active::after {
    content:'';
    position: absolute;
    left:-1px;
    bottom:0;
    right: -1px;
    margin:auto;
    height:4px;
    background-color:#c6022d;
    border:1px solid #eaeaea;
}

.basket-list-th-row {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#eaeaea;
    flex-flow:row nowrap;
    box-sizing: border-box;
}

.basket-list-th-row .basket-list-unit{
    font-weight: 500;
    font-size: 16px;
    padding:20px;
    box-sizing: border-box;
}

.basket-list-unit {
    padding:20px;
    box-sizing: border-box;
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size:14px;
}

.basket-td-row {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow:row nowrap;
    border-bottom:1px solid #eaeaea;
    position: relative;
}

.blu-btns {
    width:100%;
    max-width: 180px;
}

.blu-photo {
    width:100%;
    max-width: 140px;
}

.blu-btns .btn-row{
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width:100%;
}

.blu-btns .btn-row .btn {
    width:100%;
    margin-bottom:10px;
}

.blu-btns .btn-row .btn:last-child {
    margin-bottom: 0;
}

.blu-spec {
    width:100%;
    max-width: 424px;
}

.blu-quant {
    width:100%;
    max-width: 150px;
}

.blu-photo img {
    width:100%;
    max-width: 100%;
}

.blu-spec .catalog-item-scu-table {
    border-bottom:0;
}

.basket-list-unit .catalog-item-scu-name {
    font-size:14px;
}

.basket-list-unit .catalog-item-scu-val {
    font-size:14px;
}

.basket-list-unit .catalog-item-scu-val a{
    color:#c6022d;
    text-decoration: underline;
}

.basket-total-quant-row .catalog-item-scu-val{
    color:#c6022d;
}

.basket-total-quant-row .catalog-item-scu-name{
    color:#000;
}

.blu-weight, .blu-price, .blu-summ {
    width:100%;
    max-width: 140px;
}

.blu-price p, .blu-summ p {
    font-weight:500;
}

.catalog-item-scu-table {
    border-bottom:0;
}

.basket-brand-selector{
    margin-bottom: 30px;
}

.metal-quality-tag{
    color:#fff;
    font-size:10px;
    padding:4px 10px;
    box-sizing: border-box;
    background-color:#c6022d;
    border-radius: 12px;
    width:auto;
}

.basket-list-unit .catalog-item-scu-table{
    width:100%;
}

.basket-list-block {
    border: 1px solid #eaeaea;
    margin-bottom: 50px;
}

.basket-list-total-row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#eaeaea;
    padding:10px 20px;
}

.basket-list-total-block {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.blt-unit {
    margin-right: 60px;
    font-weight: 500;
    font-size: 16px;
}

.blt-unit span {
    color:#c6022d;
    margin-left:10px;
}

.basket-total-btn-block .btn {
    height:40px;
    margin-left:10px;
}

.basket-comment-title {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.basket-comment-block {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.catalog-item-scu-row.basket-total-quant-row {
    font-weight: 500;
}

.basket-comment-block .input-row {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
}

.basket-comment-block .input-row textarea {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width:100%;
    padding:15px;
    font-size: 14px;
    max-width:645px;
    height: 112px;
}

.basket-comment-block .btn {
    text-transform: uppercase;
    padding:20px 50px;
}

.for-mobile-blu-title {
    display:none;
}

.basket-mobile-top-text-row {
    display:none;
}

.print-btn {
    width:40px;
    max-width:40px;
}

.print-btn svg {
    min-width:24px;
    min-height:24px;
}

.print-btn:hover svg path {
    transition:0.2s;
}

.print-btn:hover svg path {
    stroke:#fff;
}

@media screen and (max-width:1330px) {
    .blu-price {
        display:none;
    }

    .blu-photo {
        width: 100%;
        max-width: 110px;
    }

    .blu-weight, .blu-price, .blu-summ {
        width: 100%;
        max-width: 140px;
    }
}

@media screen and (max-width:1080px) {

    .for-mobile-blu-title {
        display:flex;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .basket-td-row {
        flex-flow:row wrap;
        justify-content: space-between;
    }

    .blu-photo {
        width: 140px;
        max-width: 140px;
        order:1;
    }

    .blu-spec {
        order:2;
    }

    .basket-list-th-row {
        display:none;
    }

    .blu-btns {
        order:3;
    }

    .blu-quant {
        order:4;
        width:100%;
        max-width: 100%;
    }

    .basket-td-row {
        padding-top:20px;
        padding-bottom: 10px;
    }

    .blu-spec {
        margin-right: auto;
        max-width:392px;
    }

    .blu-weight {
        order:5;
        width:100%;
        max-width: 100%;
        padding-left:140px;
    }

    .blu-price {
        order:6;
        width:100%;
        max-width: 100%;
    }

    .blu-summ{
        order:7;
        width:100%;
        max-width: 100%;
    }

    .basket-list-unit {
        padding: 10px 20px;
    }

    .basket-list-unit.blu-weight, .basket-list-unit.blu-price, .basket-list-unit.blu-summ, .basket-list-unit.blu-quant{
        padding-left: 160px;
    }

    .basket-mobile-top-text-row {
        display:flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 16px;
        padding:20px;
        width:100%;
        background-color:#eaeaea;
    }

    .basket-list-total-block {
        display:flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .basket-list-total-row {
        align-items: flex-start;
    }

    .blt-unit {
        margin-bottom: 10px;
    }

    .blt-unit:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px) {

    .basket-list-total-row {
        flex-direction: column;
    }

    .basket-total-btn-block .btn:first-child {
        margin-left: 0;
    }

    .basket-total-btn-block .btn-row {
        margin-top:20px;
    }



    .blu-btns {
        order:2;
    }

    .blu-spec {
        order:3;
    }

    .blu-spec {
        width:100%;
        max-width:100%;
    }

    .basket-list-unit.blu-weight, .basket-list-unit.blu-price, .basket-list-unit.blu-summ, .basket-list-unit.blu-quant {
        padding-left:20px;
    }

    .basket-list-unit .catalog-item-scu-name, .basket-list-unit .catalog-item-scu-val {
        font-size: 12px;
    }

    .catalog-item-scu-row::before {
        top: 9px;
    }
}

@media screen and (max-width:480px) {

    .basket-total-btn-block {
        width:100%;
    }

    .basket-total-btn-block .btn-row {
        flex-flow:row nowrap;
        width:100%;
    }

    .basket-total-btn-block .btn-row .btn {
        width:100%;
    }

    .basket-comment-block {
        padding-left:20px;
        padding-right: 20px;
    }

    .basket-comment-title {
        line-height: 1.3;
        font-size:24px;
    }

    .basket-comment-block .input-row {
        margin-bottom: 30px;
    }

    .basket-comment-block .btn-row, .basket-comment-block .btn{
        width:100%;
    }


    .basket-section-wrap {
        padding-left:0;
        padding-right:0;
    }

    .blu-photo {
        width: 140px;
        max-width: 137px;
        order: 1;
    }

    .basket-brand-selector {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width:calc(100% - 40px);
        margin:auto;
        height: 50px;
        margin-bottom: 20px;
        justify-content: flex-start;
        position: relative;
    }

    .basket-brand-selector::after {
        content:'';
        position: absolute;
        right:10px;
        top:0px;
        bottom:0;
        width:6px;
        height:6px;
        margin:auto;
        border-right: 2px solid #c6022d;
        border-bottom: 2px solid #c6022d;
        transform:rotate(45deg);
    }

    .basket-section-wrap .catalog-item-title-row {
        margin:0 auto;
        width:calc(100% - 40px);
    }

    .basket-brand-selector a {
        width:100%;
        margin:0;
        position: absolute;
        left:0;
        right:0;
        top:0;
    }

    .basket-brand-selector a.active {
        display:flex;
        pointer-events: none;
    }

    .basket-brand-selector a {
        display:none;
    }

    .basket-brand-selector.active a {
        display:flex;
        position: relative;
    }


}


/*delayed*/

.cli-wrap .aou-alvada-label {
    margin-left: 0;
    margin-bottom: 6px;
}



/*basket-thank*/

.basket-thankyou-section {
    padding-top:20px;
    box-sizing: border-box;
}

.basket-thankyou-block {
    max-width:867px;
    background-color:#eaeaea;
    margin:auto;
    height:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.basket-thankyou-block > * {
    z-index: 2;
}


.basket-thankyou-block::before {
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:url(../img/basket-thank-decor.png)no-repeat;
    width: 390px;
    background-size: contain;
    height: 212px;
    background-position: center bottom;

}

.basket-thankyou-block .catalog-item-title-row{
    margin-bottom: 40px;
}

.basket-thankyou-block .catalog-item-title-row .section-title {
    padding-top:0;
    padding-bottom: 0;
}


.basket-thank-order-number {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    color: #c6022d;
}

.basket-thankyou-block p {
    font-size: 16px;
    line-height: 1.8;
    color:#000;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.basket-thankyou-block .btn-row {
    margin-top:auto;
}

@media screen and (max-width:768px) {
    .basket-thankyou-block .btn-row {
        margin-top: 160px;
    }
    .basket-thankyou-block {
        height:auto;
    }
}

@media screen and (max-width:480px) {
    .basket-thankyou-block::before {
        width:100%;
    }
    .basket-thankyou-block .btn-row {
        width:100%;
    }
    .basket-thankyou-block .btn-row .btn {
        width:100%;
    }
}








/*modal-style*/

.fancybox-content {
    padding:0;
}

.modal-win {
    width:100%;
    max-width: 480px;
}

#login-modal-1.fancybox-content, #login-modal-2.fancybox-content {
    width:100%;
    max-width: 480px;
}

.modal-win-cont{
    padding:30px;
    box-sizing: border-box;
}

.modal-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
}

.modal-win .btn-row {
    padding:20px;
    background-color:#eaeaea;
}

.modal-win .btn-row .btn {
    text-transform: uppercase;
    padding:15px 40px;
    height:50px;
}

.btn-row-sb {
    justify-content: space-between;
}

.modal-input-info-row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 0;
}

.modal-input-info-row p {
    font-size: 14px;
    color:#878787;
}

.modal-input-info-row a {
    font-size: 14px;
    font-weight:500;
    color: #c6022d;
    text-decoration: underline;
}

.modal-back-link {
    position: absolute;
    left: 35px;
    top: 10px;
    color: #c6022d;
    font-weight: 500;
    font-size: 14px;
    padding-left: 22px;
    text-decoration: none;
}

.modal-back-link::after {
    content:'';
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
    width:6px;
    height:6px;
    border-bottom:2px solid #c6022d;
    border-left:2px solid #c6022d;
    transform:rotate(45deg);
}

.modal-win-cont .input-row {
    margin-bottom: 20px;
}

#feedback-modal.fancybox-content {
    width:100%;
    max-width:480px;
}



@media screen and (max-width:480px) {
    .modal-title {
        font-size:24px;
    }
}


.agreement-row label {
    color:#000;
}

.agreement-row label a {
    text-decoration: underline;
    color:#c6022d;
}

.registration-panel-row {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.registration-text-col {
    width:calc(50% - 30px);
}

.registration-form-col {
    width:calc(50% - 30px);
}

.registration-form-col form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}

.registration-text {
    background-color:#eaeaea;
    padding:30px;
    box-sizing: border-box;
    width:100%;
}

.registration-text-col img {
    width:100%;
}

.registration-form-col .agreement-row {
    width:100%;
    margin:30px 0;
}

@media screen and (max-width:1200px) {
    .registration-text-col {
        width:calc(50% - 15px);
    }

    .registration-form-col {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width:1080px) {

    .registration-text {
        font-size:14px;
    }

    .registration-text .inner-section-title {
        font-size:18px;
    }

    .registration-panel-row {
        flex-direction: column;
    }

    .registration-text-col {
        width:100%;
        margin-bottom: 30px;
    }

    .registration-form-col {
        width:100%;
    }
}

@media screen and (max-width:480px) {
    .registration-form-col .btn-row, .registration-form-col .btn{
        width:100%;
    }
}


.floatin-size-panel {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    padding: 40px 0 0;
    box-sizing: border-box;
    max-width: 800px;
}

.floatin-size-panel .catalog-item-scu-size-list {
    padding-left:30px;
    padding-right: 30px;
}

.fsp-title {
    font-weight: 500;
    font-size: 18px;
    text-align:center;
    margin-bottom: 20px;
}

.floatin-size-panel .btn-row {
    justify-content: center;
    padding:20px;
    box-sizing: border-box;
    background-color:#eaeaea;
}

.floatin-size-panel .btn-row .btn {
    width:auto;
    padding:15px 30px;
    box-sizing: border-box;
}

.close-floating-size-panel{
    position: absolute;
    top:10px;
    right:10px;
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

@media screen and (max-width:768px) {
    .floatin-size-panel {
        right:0;
    }
}








/*alvada-color*/
:root {
    --alvada-color:#F5AA94;
}

.alvada-site a:hover {
    color:var(--alvada-color);
}

.alvada-site header {
    border-color:var(--alvada-color);
}

.basket-list-unit .catalog-item-scu-val a{
    color:#c6022d;
    text-decoration: underline;
}

.alvada-site nav ul li a::after{
    background-color:var(--alvada-color);
}

.alvada-site .header-bot-wrap::after {
    background-color:var(--alvada-color);
}

.alvada-site .prem-tag {
    background-color:var(--alvada-color);
}

.alvada-site .header-link-counter {
    background-color:var(--alvada-color);
}

.alvada-site .header-manager-block:hover::after {
    background-color:var(--alvada-color);
}

.alvada-site .auth-block svg path {
    stroke:var(--alvada-color);
}

.alvada-site  .sr-basket-info-unit span {
    color:var(--alvada-color);
}

.alvada-site .noUi-connect {
    background-color:var(--alvada-color);
}

.alvada-site .noUi-handle {
    border-color:var(--alvada-color);
}

.alvada-site .psi-input-row {
    border-color: var(--alvada-color);
}

.alvada-site .btn {
    background-color:var(--alvada-color);
}

.alvada-site .btn:hover {
    background-color:#653C3F;
    color:#fff;
}


.alvada-site .btn.btn-ly {
    color:var(--alvada-color);
    background-color: #eaeaea;
}

.alvada-site .btn-ly:hover {
    background-color:var(--alvada-color);
    color:#fff;
}

.alvada-site .btn.btn-white {
    color:var(--alvada-color);
    background-color:#fff;
}

.alvada-site .btn.btn-white.reset-filter {
    color: #7E5455;
}

.alvada-site .btn.btn-white:hover {
    color:#fff;
    background-color:var(--alvada-color);
}

.alvada-site .checkbox-row input:checked + label::before {
    box-shadow: inset 0px 0px 0px 1px var(--alvada-color);
    border-color: var(--alvada-color);
}

.alvada-site .checkbox-row input + label::after {
    border: 1px solid var(--alvada-color);
    box-sizing: border-box;
    background-color: var(--alvada-color);
}

.alvada-site .header-manager-block::after {
    background-image: url(../img/alvada-car-arrow-icon.svg);
}

.alvada-site .header-manager-block:hover::after {
    background-image: url(../img/car-arrow-icon-white.svg);
    background-color:var(--alvada-color);
}

.alvada-site .catalog-item-scu-price-block span {
    color:var(--alvada-color);
}

.alvada-site .catalog-item-probe-select-row select {
    border: 1px solid var(--alvada-color);
}

.alvada-site .catalog-item-total-price span {
    color:var(--alvada-color);
}

.alvada-site .slick-arrow {
    background-image: url(../img/alvada-car-arrow-icon.svg);
}

.alvada-site .title-row-getback-link {
    color:var(--alvada-color);
}

.alvada-site .title-row-getback-link::after {
    border-color:var(--alvada-color);
}

.alvada-site .quant-plus rect {
    fill:var(--alvada-color);
}

.alvada-site .quant-minus rect {
    fill:var(--alvada-color);
}


.alvada-site .clu-fav.active svg path {
    stroke:var(--alvada-color);
}

.aou-alvada .clu-fav.active svg path {
    stroke:var(--alvada-color);
}

.alvada-site .metal-quality-tag {
    background-color:var(--alvada-color);
}

.alvada-site .print-btn svg path {
    stroke:var(--alvada-color);
}


.alvada-site .print-btn:hover svg path {
    stroke:#fff;
}

.alvada-site .basket-total-quant-row .catalog-item-scu-val {
    color: var(--alvada-color);
}

.alvada-site .catalog-item-scu-val a {
    color: var(--alvada-color);
}


.alvada-site .blt-unit span {
    color: var(--alvada-color);
}

.alvada-site .basket-thank-order-number {
    color:var(--alvada-color);
}

.alvada-site .basket-brand-selector a.active::after {
    background-color:var(--alvada-color);
}

.catalog-filter-unit-checks-list {
    margin-bottom: 10px;
    margin-left: 15px;
}

.show-more-checks {
    color:#7F5957;
    font-size:12px;
    font-weight: 500;
    text-decoration: underline;
}



a.header-log-link {
    background:none;
    width:auto;
}

a.header-log-link:hover {
    background:none;
}

.logged-header .auth-block a:hover {
    background: #eaeaea;
}

@media screen and (max-width:1080px) {
    .catalog-sort-unit-wrap .btn-row {
        order: 3;
        margin-left: auto;
    }
}


@media screen and (max-width:480px) {
    .o-total-row .print-btn{
        width:auto;
        margin-right: auto;
    }
}
